@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<TorgovayaPloshadka.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Категории</h1>

<p>
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "RequireGuestRole")).Succeeded)
    {
        <a asp-action="Create">Добавить категорию</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products_Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products_Count)
                </td>
            <td>
                    <a asp-action="Index" asp-controller="CategoryProducts" asp-route-id="@item.CategoryId">Товары</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Детали</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "RequireGuestRole")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryId">Удалить</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
